@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    font-family: "Inter", sans-serif;
    
}

li {
    list-style: none;
    
}

a{
    text-decoration: none;
    color: #8987A1;
}

.bg-image{
    background-image: url('Assets/Hero-bg.png');
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-one{
    width: 1140px;
    height: 150px;
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-pr{
    font-size: 30px;
    color: #4E47FF;
    font-weight: bolder;
}

.sign-one{
   padding: 16px;
   background-color: #4E47FF;
   color: white;
   border-radius: 10px;
}

.title-one{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}



.hero-section{
    width: 900px;
    height: 230px;
    margin: 0 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-one{
    background-color: #4E47FF;
    color: white;
    padding: 16px;
    border-radius: 10px;
    width: 170px;
    font-weight: bold;
}


/* second section */

.bg-2{
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.two-title{
    font-size: 42px;
    font-weight: bold;
}

/* 
.bg-3{
    background-color: #4E47FF;
    opacity: 10%;
    margin: 140px;
} */


.bg-four{
    margin: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

.form-section{
    display: flex;
    flex-direction: column;
    
}

.four-title{
    font-size: 90px;
    font-weight: bold;
    
}

.form-style{
    margin-bottom: 10px;
    margin-top: 5px;
   height: 40px;
   border: none;
   background-color: rgb(223, 223, 223);
   border-radius: 5px;
   width: 350px;
   
}

.form-text {
    font-weight: 600;
    
}

.message{
    height: 100px;
}

.submit-style{
    background-color: #4E47FF;
    color: white;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.footer-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 530px;
    
}


.footer-nav{
    display: flex;
    gap: 20px;
}


.footer-title{
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
    
}




